---
layout: art
title: Art
permalink: /art/
---


<div class="col-lg-8 offset-md-2">

  <div class="row">
    {% assign count = 0 %}
    {% assign align = "left" %}
    {% for art in site.data.art.overview %}
    {% if count == 0 %}<div class="row">{% endif %}
      <div class="card">
        <div class="card-title"> {{art.title}}</div>
        <div class="row">

          <a href="{{ site.url }}{{ site.baseurl }}/art/{{ art.directory }}.html">
            <img class="img-thumbnail" alt="{{ art.title }}"
              src="{{ site.url }}{{ site.baseurl }}/assets/img/art/{% if art.picture_path %}{{ art.picture_path }}{% else %}{{ art.directory }}{% endif %}/{{ art.preview.thumbnail }}" />
          </a>
        </div>
      </div>
      {% if count == 1 %}
    </div>{% endif %}
    {% assign count = count | plus: 1 %}
    {% assign align = "right" %}
    {% if count >= 2 %}
    {% assign align = "left" %}
    {% assign count = 0 %}
    {% endif %}
    {% endfor %}

    {% if count != 1 %}
  </div>
  {% endif %}

</div>
</div>