<div class="container">
    <h2>AI Image Detection</h2>
    <div class="hero-home_drop-zone-form-block w-form">
        <form id="ai-detection-form" method="post" class="hero-home_drop-zone-form">
            <div class="hero-home_drop-zone-form-row has-margin-bottom is-form">
                <input type="text" class="input w-input" autocomplete="off" maxlength="256" name="image-url" placeholder="Paste image URL here" id="ai-image-url" />
                <a id="ai-detection-button" href="#" class="button is-secondary is-disabled w-node-da27dc73-ff09-c4b6-b8b4-a4f509b14775-0d72156d">AI or not?</a>
            </div>
            <div id="ai-result-container" class="hero-home_drop-zone-form-row has-margin-bottom is-text hide"></div>
        </form>
    </div>
</div>
<script src="{{ site.baseurl }}/assets/js/ai-detection.js"></script>
