<div class="container"> <!-- Add a container here -->
    <h2>AI Image Detection</h2>
    <form id="ai-detection-form">
        <label for="ai-image-url">Image URL:</label>
        <input type="text" id="ai-image-url" name="ai-image-url" required>
        <button type="submit">Check Image</button>
    </form>
    <div id="ai-result-container"></div>
</div>


<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/detection.js"></script>

