<div class="row">
    <div class="col-md-2">
        <img src="/assets/img/education/mit.png" class="company-logo" />
    </div>
    <div class="col-md-6">
        <h4 class="experience-title"> Post Graduate in CS </h4>
        <h6 class="experience-info">MIT</h6>
        <p class="experience-desc"> Computer Science Scholar </p>

    </div>
</div>

<br />
<div class="row">
    <div class="col-md-2">
        <img src="/assets/img/education/iit.jpeg" class="company-logo" />
    </div>
    <div class="col-md-6">
        <h4 class="experience-title"> BTECH in CS</h4>
        <h6 class="experience-info">IIT Kharagpur</h6>
        <p class="experience-desc"> Computer Science Graduate </p>

    </div>
</div>

<br />
<div class="row">
    <div class="col-md-2">
        <img src="/assets/img/education/oxford.png" class="company-logo" />
    </div>
    <div class="col-md-6">
        <h4 class="experience-title"> Computer Science </h4>
        <h6 class="experience-info"> Oxford University </h6>
        <p class="experience-desc">  High School </p>

    </div>
</div>
