<p> Red Hat Certified Specialist in OpenShift Administration</p>
<p> Red Hat Certified Specialist in Containers and Kubernetes</p>
<p> Red Hat Certified Specialist in Deployment and System Management</p>
<p> RHCVA - Red Hat Certified Virtualization Administrator</p>
<p> RHCE - Red Hat Certified Engineer</p>
<p> RHCSA - Red Hat Certified System Administrator</p>
<p> LPIC-3 - Linux Enterprise Professional Security (303))</p>
<p> LPIC-2 - Linux Engineer</p>
<p> LPIC-1 - Linux Administrator</p>
<p> VMware Certified Associate - Data Center Virtualization</p>
<p> ITIL Foundation</p>
<p> Comptia Linux+</p>
<p> Comptia Server+</p>
<p> Certified SonicWall Security Administrator</p>