
<h4><center>Click a skill to see an associated project!</center></h4> 
<p>
    <a href="{{ site.baseurl }}/gallery/snake.html">C++</a>,
    Engine Architecture, Unity Engine, Dear-Imgui,
    <a href="{{ site.baseurl }}/gallery/snake">SFML</a>,
    C#, Python
</p>
<p>Photoshop, <a href="{{ site.baseurl }}/gallery/bomber">Illustrator</a>, 3dsMax, Blender, Premiere,<a href="{{ site.baseurl }}/gallery/bomber">Traditional Drawing</a>  </p> 
<p>Electric Guitar, Electric Bass, Fl Studio, Music Theory</p> 
<p><a href="{{ site.baseurl }}/gallery/bomber">Character Development</a>, Story Development </p>
