
<h5><center>Click a skill!</center></h5> 

<p><b>Game Dev:</b>
    <a href="{{ site.baseurl }}/projects/snake">C++</a>, <a href="{{ site.baseurl }}/projects/lunar">Unity Engine</a>,
    <a href="{{ site.baseurl }}/projects/chompchomp">SFML</a>,
    <a href="{{ site.baseurl }}/projects/neoncloud">C#</a>, <a href="https://github.com/TelloViz/Pig-Dice-Game">Python</a>
</p>
<p><b>Art:</b>
    <a href="{{ site.baseurl }}/art/design">Photoshop</a>, <a href="{{ site.baseurl }}/projects/bomber">Illustrator</a>, <a href="{{ site.baseurl }}/art/office">3dsMax</a>, Blender, Premiere, <a href="{{ site.baseurl }}/projects/bomber">Drawing</a>, <a href="{{ site.baseurl }}/projects/bomber">Character Development</a>
</p> 
<p><b>Music:</b>
    <a href="{{ site.baseurl }}/music/guitar">Guitar</a>, <a href="{{ site.baseurl }}/music/guitar">Bass</a>, <a href="{{ site.baseurl }}/music">Fl Studio</a>, <a href="{{ site.baseurl }}/music">Music Theory</a>
</p>