<div class="row">
        <div class="col-md-5">
            <img src="/assets/img/projects/gamershub.png" class="project-img" />
        </div>
        <div class="col-md-5">
            <h4 class="project-title"> Gamers Hub </h4>
            <p class="project-desc"> A Platform built for Gamers and Game Developers</p> 

            <a class="project-link btn btn-success" href="https://gamershub.in"> https://gamershub.in</a>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-md-5">
            <img src="/assets/img/projects/hackify.png" class="project-img" />
        </div>
        <div class="col-md-5">
            <h4 class="project-title"> Hackify Theme for Atom Editor </h4>
            <p class="project-desc"> A dark hacking theme for Atom Editor. You can modify it to make it your own</p>
            <a class="project-link btn btn-success" href="http://atom.io/themes/hackify-ui">http://atom.io/themes/hackify-ui</a>
        </div>
    </div>