<div class="row">
    <div class="col-md-2">
        <img src="/assets/img/work/google.png" class="company-logo" />
    </div>
    <div class="col-md-6">
        <h4 class="experience-title"> Full Stack Software Engineer</h4>
        <h6 class="experience-info">Google ( Jan 2017 - Present )</h6>
        <p class="experience-desc"> Worked on various technologies and built products which helps people globally </p>

    </div>
</div>

<br />
<div class="row">
    <div class="col-md-2">
        <img src="/assets/img/work/microsoft.png" class="company-logo" />
    </div>
    <div class="col-md-6">
        <h4 class="experience-title"> Front End Engineer</h4>
        <h6 class="experience-info">Microsoft ( Mar 2015 - Dec 2016 )</h6>
        <p class="experience-desc"> Worked on various technologies and built products which helps people globally </p>

    </div>
</div>
