<header>

    <div class="col-lg-12">

        <div class="row">

                <nav class="navbar navbar-expand-lg fixed-top navbar-dark " id="topNav">
                <!-- <a class="navbar-brand" href="#">{{site.title}}</a> -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="/">{{site.title}}</a>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                          {% for i in site.urls %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ site.url}}{{site.baseurl}}{{ i.url }}">{{ i.text }}</a>
                            </li>
                            {% endfor %}

                        </ul>


                    </div>
                       <ul class="nav justify-content-end">
                           <li class="nav-item">
                                    <a class="nav-link" id="search-icon" href="{{ site.url}}{{site.baseurl}}/search/"><i class="fa fa-search" aria-hidden="true"></i></a>
                                </li>
                            <li class="nav-item">
                                        <input class="nav-link switch" id="theme-toggle" onclick="modeSwitcher() "type="checkbox" name="checkbox" >
                                </li>
                             </ul>
            </nav>

        </div>

     </div>
</header>