<style>
/* change cover_img in config.yml */
.jumbotron {
    background-color: var(--main-background-color) !important;
    background-image: url('/assets/img/{{site.hero_cover_img}}');
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.jumbotron-btns {
  display: block;
  margin-top: 50px;
}

.jumbotron-heading, .lead {
  color: #fff;
}
</style>

<!-- home hero section -->
<div class="jumbotron">
  <img class="author-profile-img" src="{{site.url}}{{site.baseurl}}/assets/img/{{site.author_logo}}" />
  <p class="jumbotron-heading">{{site.author}}</p>

  <p class="lead" id="typewriteText"></p>
  {% if site.github_username %} {%- include github_follow_button.html -%} {% endif %}

  <!-- uncomment/modify buttons as you want-->
  <div class="jumbotron-btns">
    <a href="{{site.url}}{{site.baseurl}}/about">
      <button class="btn btn-md btn-warning"> <strong>get to know me</strong> </button>
    </a>
  </div>
  <br>
  <figure>
    <embed src="https://wakatime.com/share/@efa0cc05-201c-4ae1-bb0f-0ca759db5b91/d52cf0be-20e4-4699-bbbf-4a8a515449b1.svg"></embed>
  </figure>
</div>