<h1 style="text-align: center;">
  <span> <strong> Kingdom Coinquest </strong> </span>
</h1>

<h4 style="text-align: center;"> by
  <a href="https://telloviz.netlify.app">
    Tello-Vision
  </a>
  Studio
</h4>

<h5 style="text-align: center;"> Turn an ordinary deck of cards into a strategic battle for Kingdom Conquest! </h5>

<hr>

<p style="text-align: center;"> <i>The Deck of the Four Kingdoms is rife with conflict. You must crown your king,
    hone your steel, and command your people. Do you have the strategic mind to defeat your rival kings? Or, will your
    name fade with time? It's time to breathe life into that dusty old deck of cards!</i> </p>

<hr>

<center><img src="../assets/img/posts/kingdom-coinquest/CardSeparator.png" alt="CardSeparator"
  style="display: block; margin: 0 auto; text-align: center;"></center>

<hr>

<h2><u>Table of Contents</u></h2>
<ul>
  <li><a href="#RequirementsHeader"><u>Requirements</u></a></li>
  <li><a href="#SetupHeader"><u>Set-up</u></a></li>
  <li><a href="#SynopsisHeader"><u>Synopsis</u></a>
    <ul>
      <li><a href="#GoalHeader">The Goal</a></li>
      <li><a href="#VictoryHeader">Accomplishing Victory</a></li>
    </ul>
  </li>
  <li><a href="#YourTurnHeader"><u>Your Turn</u></a>
    <ul>
      <li><a href="#DrawPhaseHeader">Draw Phase</a></li>
      <li><a href="#PlayPhaseHeader">Play Phase</a>
        <ul>
          <li><a href="#PlayMoveHeader">Play Moves</a></li>
          <li><a href="#AttackDefendHeader">Attacking and Defending</a>
            <ul>
              <li><a href="#AttackHeader">Attacking</a></li>
              <li><a href="#DefendHeader">Defending</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="#DiscardPhaseHeader">Discard Phase</a></li>
    </ul>
  </li>
  <li><a href="#PlayFieldHeader"><u>Play Field Slots</u></a>
    <ul>
      <li><a href="#ForgeSlotHeader">Forge</a></li>
      <li><a href="#GraveyardSlotHeader">Graveyard</a></li>
      <li><a href="#SalvageYardSlotHeader">Salvage Yard</a></li>
      <li><a href="#QuartermasterSlotHeader">Quartermaster</a></li>
      <li><a href="#KnightSlotHeader">Knight</a></li>
      <li><a href="#PeasantSlotHeader">Peasant</a></li>
      <li><a href="#QueenSlotHeader">Queen</a></li>
      <li><a href="#KingSlotHeader">King</a></li>
    </ul>
  </li>
  <li><a href="#CardTypesHeader"><u>Card Types</u></a>
    <ul>
      <li><a href="#KingHeader">King</a></li>
      <li><a href="#QueenHeader">Queen</a></li>
      <li><a href="#JackHeader">Jack</a></li>
      <li><a href="#AceHeader">Ace</a></li>
      <li><a href="#EquipmentCardHeader">Equipment</a></li>
      <li><a href="#RecruitedCardHeader">Recruited</a></li>
    </ul>
  </li>
  <li><a href="#QuestionsCommentsHeader"><u>Questions, Comments Feedback</u></a></li>
</ul>

<hr>

<h1 id="RequirementsHeader" style="text-align: center;"> <strong>-<u>Requirements</u>-</strong> </h1>
<ul>
  <li>2-4 players <em>(*untested beyond 2)</em></li>
  <li>Deck of 52 standard playing cards</li>
  <li>Quarter, Nickel, Penny <em>(optional placement reminders for Quartermaster, Knight, and Peasant)</em></li>
  <li>Counters <em>(Ex: Beans, beads, pencil/paper, <em>sharp memory</em>)</em></li>
</ul>

<hr>

<center><img src="../assets/img/posts/kingdom-coinquest/CardSeparator.png" alt="CardSeparator"
  style="display: block; margin: 0 auto; text-align: center;"></center>

<hr>

<h1 id="SynopsisHeader" style="text-align: center;"> <strong>-<u>Synopsis</u>-</strong></h1>

<h3 style="text-align: center;" id="GoalHeader"><strong><u>The Goal</u>:</strong></h3>
<p style="text-align: center;"> The goal of Kingdom Coinquest is to defeat your rival kingdoms. Players will draw
  until they have 3 cards in hand each turn. Choose strategically the source from where you draw your cards. You have
  3 options, The <a href="#ForgeSlotHeader">Forge</a> (deck), The <a href="#GraveyardSlotHeader">Graveyard</a>
  (community discard) or your <a href="#SalvageYardSlotHeader">Salvage Yard</a> (your set of 3 personal discard
  slots). The cards in hand could be <a href="#EquipmentCardHeader">Equipment</a> Cards, <a
    href="#QueenHeader">Queen</a> Cards, <a href="#JackHeader">Jack</a> Cards or <a href="#AceHeader">Ace</a> Cards.
  Each card type is outlined in its own section. You can only play a card of your Suit of Arms unless you have 2 cards
  of a Rival Kingdom in your hand. 2 cards of a Rival Kingdom can be played as 1 card of your own Suit. This is known
  as <a href="#RecruitedCardHeader">Recruiting</a>. After you make your play, you must discard a card from your hand.
  This discard can be placed in 1 of 2 places. If you discard to the <a href="#GraveyardSlotHeader">Graveyard</a>,
  other players will have a chance at accessing the card in the future. If you discard to 1 of the 3 personal <a
    href="#SalvageYardSlotHeader">Salvage Yard</a> slots, only you can access these cards in the future. However,
  space is limited in the <a href="#SalvageYardSlotHeader">Salvage Yard</a>. Only 3 cards total can be stored here.
</p>

<hr>

<h3 style="text-align: center;" id="VictoryHeader"><strong><u>Victory</u>:</strong></h3>
<p style="text-align: center;">Victory is accomplished by playing <a href="#EquipmentCardHeader">Equipment Cards</a>
  on your <a href="#QuartermasterSlotHeader">Quartermaster</a> to be prepared for use by your <a
    href="#KnightSlotHeader">Knight</a> and <a href="#PeasantSlotHeader">Peasant</a>. Once prepared, an <a
    href="#EquipmentCardHeader">Equipment</a> card can then be equipped to either your <a
    href="#KnightSlotHeader">Knight</a> or your <a href="#PeasantSlotHeader">Peasant</a>, during your <a
    href="#PlayPhaseHeader">Play Phase</a>. Use your <a href="#PeasantSlotHeader">Peasants</a> to attack a rival
  kingdom. Use your <a href="#KnightSlotHeader">Knight</a> to defend your <a href="#KingHeader">King</a>. Once a <a
    href="#KingHeader">King</a> has depleted his 20 health points, he is no longer in play. Be the last <a
    href="#KingHeader">King</a> standing and you are victorious!</p>

<hr>

<center><img src="../assets/img/posts/kingdom-coinquest/CardSeparator.png" alt="CardSeparator"
  style="display: block; margin: 0 auto; text-align: center;"></center>

<hr>

<h1 style="text-align: center;" id="SetupHeader"> <strong>-<u>Set-Up</u>-</strong> </h1>

<center><img src="../assets/img/posts/kingdom-coinquest/GameSetup-t.png" alt="GameSetup"
    style="display: block; margin: 0 auto; text-align: center;"></center>

<p style="text-align: center;">This setup will be duplicated by each player. <em>(Note: Forge and Graveyard are
    community piles!)</em></p>

<ol>
  <li>Set aside Joker Cards</li>
  <li>Separate the 4 <a href="#KingHeader">Kings</a> from the deck.
    <ul>
      <li>Shuffle the <a href="#KingHeader">Kings</a> and place them face down.</li>
      <li>Each player in turn then draws their <a href="#KingHeader">King</a> for the game.</li>
      <li>Place your <a href="#KingHeader">King</a> as shown in the figure above.</li>
      <li>Set the remaining <a href="#KingHeader">Kings</a> aside for the remainder of the game. </li>
    </ul>
  </li>
  <li>Shuffle the remaining cards that are the non-<a href="#KingHeader">Kings</a>/non-joker.
    <ul>
      <li>This is the <a href="#ForgeSlotHeader"><b>forge</b></a>. It is essentially the deck that players will draw
        from.</li>
      <li>Place the <a href="#ForgeSlotHeader">Forge</a> in the location indicated in the figure above.</li>
    </ul>
  <li>Each player place 20 counters on their <a href="#KingHeader">King</a>.</li>
  <ul>
    <li>This is to keep track of his Health Points remaining.</li>
  </ul>
</ol>
<hr>
<p><em>Note: At this point, each player should have (1) King in front of them and there is only one deck of cards face
    down, in the location labeled "forge" on the set-up figure.</em></p>

<h2 id="TurnOrderHeader"> <u>Turn Order:</u> </h2>
<ol>
<li>Heart Kingdom</li>
<li>Spade Kingdom</li>
<li>Diamond Kingdom</li>
<li>Club Kingdom</li>
</ol>

<hr>

<center><img src="../assets/img/posts/kingdom-coinquest/CardSeparator.png" alt="CardSeparator"
  style="display: block; margin: 0 auto; text-align: center;"></center>
<hr>

<h1 style="text-align: center;" id="YourTurnHeader"> <strong>-<u>Your Turn</u>-</strong> </h1>

<blockquote><i> It is <u>important</u> to take your turn in the following order:</i></blockquote>

<ol>
  <li id="DrawPhaseHeader"> Draw Phase</li>
  <ul>
    <li> Draw cards in any combination from the <a href="#ForgeSlotHeader">Forge</a>, <a
        href="#GraveyardSlotHeader">Graveyard</a>, or <a href="#SalvageYardSlotHeader">Salvage Yard</a>, until you have
      3 cards in your hand.</li>
    <li><u>Immediately</u> remove 1 counter from your <a href="#QuartermasterSlotHeader">Quartermaster</a> if preparing
      <a href="#EquipmentCardHeader">Equipment</a>.
    </li>
  </ul>

  <li id="PlayPhaseHeader"> Play Phase</li>
  <ul>
    <li> Make 1 <a href="#PlayMoveHeader">Play Move</a>. <i>(see Play Move List below)</i> </li>
  </ul>

  <li id="DiscardPhaseHeader"> Discard Phase</li>
  <ul>
    <li> Place 1 card from your hand to either your <a href="#SalvageYardSlotHeader">Salvage Yard</a> or the top of the
      <a href="#GraveyardSlotHeader">Graveyard</a>.
    </li>
  </ul>

  </ul>
</ol>

<h3 id="PlayMoveHeader">A <b><i><u>Play Move</u></i></b> is any of the following: </h3>
<ul>

  <li> Placing an <a href="#EquipmentCardHeader"><a href="#EquipmentCardHeader">Equipment Card</a></a> on the <a
      href="#QuartermasterHeader">Quartermaster</a> to be prepared. </li>
  <li> Moving Prepared <a href="#EquipmentCardHeader">Equipment</a> from the <a
      href="#QuartermasterSlotHeader">Quartermaster</a> to your <a href="#KnightHeader">Knight</a> or <a
      href="#PeasantHeader">Peasant</a>.</li>
  <li><a href="#AttackHeader">Attacking</a> a rival Kingdom with your Equipped <a href="#PeasantSlotHeader">Peasant</a>.
  </li>
  <li> Placing your suit's <a href="#QueenHeader">Queen</a> next to the <a href="#KingHeader">King</a>.</li>
  <li> Playing a <a href="#RecruitedCardHeader">Recruited Card</a></li>
  <li> Using an <a href="#AceHeader">Ace</a> to resurrect a card from the <a href="#GraveyardSlotHeader">Graveyard</a>.
  </li>
</ul>

<h3 id="AttackDefendHeader"><b><i><u>Attack and Defending</u></i></b></h3>
<h3 id="AttackHeader" style="text-align: left;"><u>Attack</u></h3>
<li> The <a href="#PeasantSlotHeader">Peasant</a> attacks for damage points equal to the number value on the <a
    href="#EquipmentCardHeader">Equipment</a> Card.</li>
<li>Any Attack damage from your <a href="#PeasantSlotHeader">Peasant</a>, that doesn't get defended, is applied to the
  defending <a href="#KingHeader">King</a>.</li>
<li> An attacking <a href="#PeasantSlotHeader">Peasant</a> may only use an <a href="#EquipmentCardHeader">Equipment</a>
  Card once.
  <ul>
    <li>The <a href="#EquipmentCardHeader">Equipment</a> breaks and is placed on the top of the <a
        href="#GraveyardSlotHeader">Graveyard</a> face-up</li>
  </ul>
</li>
</ul>

<h3 id="DefendHeader" style="text-align: left;"><u>Defend</u></h3>
<li>A Defending <a href="#KnightSlotHeader"><a href="#KnightSlotHeader">Knight</a></a> absorbs <a
    href="#PeasantSlotHeader">Peasant</a> attack damage only up to the value listed on the <a
    href="#KnightSlotHeader">Knight</a>'s <a href="#EquipmentCardHeader">Equipment</a>.<ul>
    <li><a href="#PeasantSlotHeader">Peasant</a> attack damage beyond the <a href="#KnightSlotHeader">Knight</a>'s
      defense value is applied as Damage to the <a href="#KingHeader">Kings</a> Health Points.
    <li>In the event that a <a href="#KnightSlotHeader">Knight</a> falls short in battle, a Queen in play MUST absorb
      the remaining incoming damage points for her <a href="#KingHeader">King</a>.</li>
    <li>Any damage points remaining that have not been defended or absorbed, will be decremented from the defending <a
        href="#KingHeader">King</a>'s health points.</li>
</li>
</ul>
</li>
<li> A Defending <a href="#KnightSlotHeader">Knight</a> may only use an <a href="#EquipmentCardHeader">Equipment</a>
  Card once.
  <ul>
    <li>The <a href="#EquipmentCardHeader">Equipment</a> breaks and is placed on the top of the <a
        href="#GraveyardSlotHeader">Graveyard</a> face-up</li>
  </ul>
</li>
</ul>

<hr>

<center><img src="../assets/img/posts/kingdom-coinquest/CardSeparator.png" alt="CardSeparator"
  style="display: block; margin: 0 auto; text-align: center;"></center>
<hr>
<h1 style="text-align: center;" id="PlayFieldHeader"> <strong>-<u>Play Field</u>-</strong></h1>

<h2 id="ForgeSlotHeader"><u>Forge</u> : </h2>
<p> The Forge is your primary source for stocking your hand each turn. The Forge deck is 1 of the 3 places you can draw
  from during the <a href="#DrawPhaseHeader">Draw Phase</a> of your turn.</p>

<hr>

<h2 id="GraveyardSlotHeader"><u>Graveyard</u> : </h2>
<p> The Graveyard is a community shared discard pile. The Graveyard serves a dual purpose. It is also 1 of 3 places you
  can choose to draw from during the <a href="#DrawPhaseHeader">Draw Phase</a> of your turn. The Graveyard is always
  stacked face up, and only the top card is accessible at any time.</p>

<p><b>Be careful! Anything you discard to the Graveyard is then retrievable during the <a href="#DrawPhaseHeader">Draw
      Phase</a> of a rival kingdom's turn!</b></p>

<hr>

<h2 id="SalvageYardSlotHeader"><u>Salvage Yard</u> : </h2>
<p> There are 3 spots in your area of the play field labeled "Salvage". These are additional discard slots which can
  hold 1 card each. These cards can be retrieved just like drawing from the <a href="#ForgeSlotHeader">Forge</a> or the
  <a href="#GraveyardSlotHeader">Graveyard</a>. However, your Salvage Cards are only accessible to you.
</p>

<p><b>Note:</b> <i>Only 1 card per Salvage spot. 3 total salvage cards per player at any time.</i></p>

<hr>

<h2 id="QuartermasterSlotHeader"><u>Quartermaster Slot</u> : </h2>
<p> The preparer and provider of weapons and armor for your <a href="#KnightSlotHeader">Knight</a> and <a
    href="#PeasantSlotHeader">Peasant</a>. One card may be played here at a time. An <a
    href="#EquipmentCardHeader">Equipment</a> card played here enters preparation. The only time an <a
    href="#EquipmentCardHeader">Equipment</a> card will not need to be prepared by your Quartermaster is when you play
  an <a href="#AceHeader">Ace</a> Card. An <a href="#AceHeader">Ace</a> can Resurrect the top card of the <a
    href="#GraveyardSlotHeader">Graveyard</a> directly onto the <a href="#KnightSlotHeader">Knight</a> or <a
    href="#PeasantSlotHeader">Peasant</a>. Depending on the value of the <a href="#EquipmentCardHeader">Equipment</a>
  Card, the preparation cost varies. The cost of preparation is paid in turns.</p>

<p><b>Note:</b> <i>The only way to remove an <a href="#EquipmentCardHeader">Equipment</a> Card in process is to either
    wait until it's done being prepared or discard it directly to the <a href="#GraveyardSlotHeader">Graveyard</a> on
    your <a href="#DiscardPhaseHeader">Discard Phase</a>.</i></p>

<h3><strong><u>Preparation Costs</u> <i>(based on numeric card value)</i></strong></h3>
<ul>
  <li> 2-4 = 1 turn preparation </li>
  <li> 5-7 = 2 turns preparation </li>
  <li> 8-10 = 3 turns preparation </li>
</ul>

<p><b>Tip:</b> Place the Equipment Card being prepared by your Quartermaster sideways as shown in the diagram. Then
  immediately place enough counters on top of the card to represent how many turns of preparation are remaining.</p>

<p><b>Tip:</b> Removing 1 counter from your Quartermaster should be the first thing you do each turn.</p>

<hr>

<h2 id="KnightSlotHeader"><u>Knight Slot</u> : </h2>

<li>Defender of the <a href="#KingHeader">King</a>.
<li> Play a piece of prepared <a href="#EquipmentCardHeader">Equipment</a> on your Knight to provide defense for your <a
    href="#KingHeader">King</a>.
<li>When an opponent attacks, your Equipped Knight is required to defend the <a href="#KingHeader">King</a>.
<li>Once a Knight has seen battle, the <a href="#EquipmentCardHeader">Equipment</a> card must be placed on the top of
  the <a href="#GraveyardSlotHeader">Graveyard</a>. <p><b>Note:</b> <i>This is not a Discard Move.</i></p>

  <i><b>Note:</b> Equipping counts as a play move, as does Attacking. Therefore, you may not Equip and Attack on the
    same turn!</i>

  <hr>

  <b>Note:</b> <i>You don't attack the rival <a href="#KingHeader">King</a>, only the rival Kingdom.</i>

  <hr>

  <h2 id="QueenSlotHeader"><u>Queen Slot</u> : </h2>
  <p>
<li align='left'>Your <a href="#QueenHeader">Queen</a> is the last line of defense for your <a
    href="#KingHeader">King</a>.
<li align='left'>A <a href="#QueenHeader">Queen</a> played in this slot will absorb all damage done to your <a
    href="#KingHeader">King</a> one time.
<li align='left'>A Kingdom with no <a href="#KnightSlotHeader">Knight</a> <strong>MUST</strong> be defended by your
  Queen.
<li align='left'>A <a href="#QueenHeader">Queen</a> that has seen battle must then be placed at the very bottom of the
  <a href="#GraveyardSlotHeader">Graveyard</a>.
  </p>

  <hr>

  <h2 id="KingSlotHeader"><u>King Slot</u> : </h2>
  <p>
<li align='left'>Simply the place where your <a href="#KingHeader">King</a> sits.
  </p>

  <hr>

  <center><img src="../assets/img/posts/kingdom-coinquest/CardSeparator.png" alt="CardSeparator"
    style="display: block; margin: 0 auto; text-align: center;"></center>

  <h1 align='center' id="CardTypesHeader"> <strong>-<u>Card Types</u></strong></h1>

  <h2 id="KingHeader" align='center'><b><u>King</u></b></h2>
  <p>
    <img width="80" align='left' src="../assets/img/posts/kingdom-coinquest/HeartKing.png">
  </p>
  <p align='center'>The leader of your Kingdom. He must be protected at all costs. <br /> The King starts with 20 health
    points. A king is defeated when he has 0 or less health. The final King standing is the victor.
  </p>

  <p align='center'> <b><u>Non-Player Kings:</u></b>
    <br />
    These kings are not used in the game; they are set aside outside of the play area.
  </p>

  <hr>

  <h2 id="QueenHeader" align='center'><b><u>Queen</u></b></h2>

  <p>
    <img width="80" align='left' src="../assets/img/posts/kingdom-coinquest/HeartQueen.png">
  </p>

  <p align='center'> The <a href="#KingHeader">King</a>'s right hand. She has vowed to protect her people and their way
    of life. <br /> The Queen will fully absorb 1 incoming attack, in <b>all</b> cases where a <a
      href="#KnightSlotHeader">Knight</a> is not available to defend the <a href="#KingHeader">King</a>. <br /> The
    Queen stays in play until defeated. A defeated Queen is then discarded <br /> to the <b>bottom</b> of the <a
      href="#GraveyardSlotHeader">Graveyard</a>. <br /> <b>Note:</b> <i>Only 1 Queen can be active per player at a
      time.</i>
  </p>

  <hr>

  <h2 id="JackHeader" align='center'><b><u>Jack</u></b></h2>

  <p>
    <img width="80" align='left' src="../assets/img/posts/kingdom-coinquest/Jacks.png">
  </p>

  <p align='center'>
    The <i>Jack of all trades</i> has no particular allegiance. Jacks are a wild card that can be used to <a
      href="#RecruitedCardHeader">recruit</a> <br /> any <a href="#EquipmentCardHeader">equipment</a> card to your
    allegiance. A card that was <a href="#RecruitedCardHeader">Recruited</a> by using a Jack still needs to be prepared
    <br /> by the <a href="#QuartermasterSlotHeader">Quartermaster</a>.<br /><br />
    <b>Note:</b> <i>Only 1 Jack can be in play per player at any time.</i>
    <br /><b>Note:</b> <i>A Jack can only be used on <a href="#EquipmentCardHeader">Equipment</a> Cards.</i> <br />
    <b>(He may not be used to Recruit a <a href="#QueenHeader">Queen</a> or an <a href="#AceHeader">Ace</a>. These cards
      may be <a href="#RecruitedCardHeader">Recruited</a>, but not with a Jack.)</b>
  </p>
  <h2 id="EquipmentCardHeader" align='center'><b><u>Equipment Cards (numbered suits)</u></b></h2>

  <p align='center'>
    These cards represent weapons and armor. The <a href="#QuartermasterHeader">Quartermaster</a> prepares these
    resources for use by your <a href="#PeasantSlotHeader">Peasant</a> or <a href="#KnightSlotHeader">Knight</a>. The
    value of the card influences its effect and preparation cost. Equip an Equipment Card to your <a
      href="#PeasantSlotHeader">Peasant</a> to allow him to attack on a future play move. The <a
      href="#PeasantSlotHeader">Peasant</a> can attack for the value indicated on the Equipment Card. Likewise, equip
    your Equipment Card to a <a href="#KnightSlotHeader">Knight</a>, to add that card's value in defense to your <a
      href="#KnightSlotHeader">Knight</a>. Use the <a href="#KnightSlotHeader">Knight</a> to defend your <a
      href="#KingHeader">King</a>. More information can be found in the section on <a
      href="#AttackDefendHeader">Attacking</a>

    <br /><b>Note:</b> <i>To unequip an Equipment Card, simply replace it with a different prepared Equipment Card. The
      equipment being replaced is then placed on the top of the <a href="#GraveyardSlotHeader">Graveyard</a>. This
      <strong>does not</strong> count as your <a href="#DiscardPhaseHeader">Discard Phase.</a></i>
  </p>

  <hr>

  <h2 id="RecruitedCardHeader" align='center'><b><u>Recruited Cards</u></b></h2>

  <p>
    A pair of cards not of your kingdom's suit of arms. They count as individual cards until played together. Playing
    the 2 cards together is known as <b>recruiting.</b> A recruited card can be played as a card of your suit. Any card
    may become a recruited card when paired with another card of its same type regardless of suit. However, a <a
      href="#JackHeader">Jack</a> (wild card) may only be used for Recruiting <a
      href="#EquipmentCardHeader">Equipment</a> (number-valued cards). A <a href="#JackHeader">Jack</a> cannot be used
    in Recruiting a <a href="#QueenHeader">Queen</a> or <a href="#AceHeader">Ace</a>.
  </p>

  <hr>

  <center><img src="../assets/img/posts/kingdom-coinquest/CardSeparator.png" alt="CardSeparator"
    style="display: block; margin: 0 auto; text-align: center;"></center>

  <hr>

  <h1 align='center' id="QuestionsCommentsHeader">Questions, Comments or Feedback?</h1>
  <h2 align='center'>I'm interested in hearing what you've got to say!</h2>

  <ul>
    <li>Inconsistencies in mechanics</li>
    <li>Trouble interpreting the rules</li>
    <li>Suggestions on adjustments</li>
    <li>Readme Suggestions</li>
  </ul>

  <h2 align='center'>Contact me at: <br /> lollisjosh@csu.fullerton.edu <br /> www.github.com/TelloViz </h2>

<hr>
<hr>
<hr>
<hr>

  <h3>Disclaimer:</h3>
  Card artwork does not belong to me. It was added for visual flair for a school project. This project was and is for
  educational purposes. I made this game as part of my Game Design class. All copyright artwork belongs to the copyright
  holders. I have not, do not, and will not make money off of this game, this repo, my portfolio site, or my YouTube.