<section id="recent-articles">
  <div id="recent-articles-header">
    <div id="recent-articles-title">
      <h1 class="card-title">Recent Posts</h1>
    </div>
    <div id="recent-articles-show-all">
      <a class="btn btn-lg btn-dark" href="/blog"> View All </a>
    </div>
  </div>
  <br />

  <ul class="posts-list">
    {% for post in site.posts limit:5 %}
    <li class="article-card">
      <a href="{{post.url}}" class="article-card-link">
        <div id="article-container">
          <div id="article-link">
            <p class="recent-article-link">{{post.title}} <span style="color: #ccc; font-size: 15px;"> - <i><time datetime="{{ post.date }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time></i></span></p>
          </div>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>