@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css);

body { 
  background: lighten(#F2F0D9, 5%); 
  font-family: 'Open Sans', sans-serif; 
}

input[type="range"] {
   -webkit-appearance:none !important;
    max-height: 3px;
    position: relative;
    top: -3px;
   background: #DDD;
 }

 input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance:none !important;  
   width: 15px;
   height: 15px;
   position: relative;
   top: -1px;
   background: #222;
 }

 input[type="checkbox"] {
   display: none;
 }
  input[type="checkbox"] + label {
    display: inline-block !important;
    height: 15px;
    width: 15px;
    margin: 0px 4px 0px 0px !important;
    padding: 0px;
    position: relative;
    top: 4px;
    background: #FFF;
    cursor: pointer;
  
    &:before {
      content: "";
      display: inline-block;
      width: 4px;
      height: 8px;
      background: #F38630;
      opacity: 0;
      position: relative;
      top: -5px;
      right: -1px;
      transform: skewX(0deg);
      transition: all 0.24s;
    }
    &:after {
      content: "";
      display: inline-block;
      width: 4px;
      height: 15px;
      background: #F38630;
      opacity: 0;
      position: relative;
      top: -5px;
      right: -3px;
      transform: skewX(0deg);
      transition: all 0.24s;
    }
  }
input[type="checkbox"]:checked + label {
  &:before {
    transform: skewX(30deg);
    opacity: 1;
  }
  &:after {
    transform: skewX(-30deg);
    opacity: 1;
  }
}

.container { width: 100%; }

header {
  height: 65px;
  background: #879BAD;
  color: darken(#879BAD, 40%);
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  padding: 5px;
}

.metronome-container {
  width: 75%;
  height: auto;
  position: relative;
  margin: 40px auto;
  background: lighten(#222, 5%);
  
  .options-btn {
    color: #FFF;
    font-size: 22px;
    position: absolute;
    top: 20px;
    right: 15px;
    transform: rotateZ(0deg);
    cursor: pointer;
    transition: transform 0.3s;
    
    &:hover {
      transform: rotateZ(60deg);
    }
  }
  
  .options-active {
    max-height: 1000px !important;
    padding: 15px;
    overflow: visible !important;
  }
  .options {
    max-height: 0px;
    background: #FFF;
    color: #333;
    overflow: hidden;
    transition: all 0.25s;
    position: absolute;
    top: 50px;
    right: 15px;
    
    .up {
      color: #FFF;
      font-size: 22px;
      position: absolute;
      top: -14px;
      right: 3px;
      z-index: 500;
      transform: rotateZ(180deg);
    }
    
    label {
      display: block;
      margin-top: 10px;
    }
  }
  
  .counter {
    width: 100%;
    padding-bottom: 10px;
    background: lighten(#333, 5%);
    text-align: center;
    
    .dot {
      width: 15px;
      height: 15px;
      display: inline-block;
      margin: 25px 10px 10px 10px;
      background: #FFF;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.3s;
    }
    .active { background: lighten(#44B8FF, 5%); }
  }
  
  .controls {
    color: #FFF;
    padding: 20px;
    text-align: center;
    
    label {
      display: block;
      margin-bottom: 18px;
      
      span {
        background: #FFF;
        color: #222;
        padding: 5px;
        
        i { 
          cursor: pointer; 
          transition: color 0.2s; 
        }
        i:hover { color: #FA6900; }
      }
    }
    
    input {
      width: 30px;
      border: 0px solid;
      color: #222;
      text-align: center;
      padding: 4px;
    }
    
    select {
      border: 0px;
      color: #222;
    }
    
    .play-btn {
      width: 45%;
      background: #D6E26D;
      border: 0px;
      border-radius: 5px;
      padding: 12px;
      color: darken(#D6E26D, 50%);
      transition: background 0.3s;
      
      &:hover { background: lighten(#D6E26D, 15%); }
    }
    
    .tap-btn {
      width: 45%;
      background: #888;
      border: 0px;
      border-radius: 5px;
      padding: 12px;
      color: lighten(#888, 45%);
      transition: background 0.3s;
      
      &:hover { background: lighten(#888, 5%); }
    }
  }
}

footer {
  width: 50%;
  height: auto;
  background: #FFF;
  color: #444;
  padding: 10px;
  margin: 50px auto;
}