---
layout: default
---

<div class="flex flex-wrap mx-4 md:mx-10 lg:mx-28 py-24 ">
    <!-- profile card -->
    <div class="basis-full md:basis-1/3">
       {%- include author_profile_card.html -%}
    </div>
    <!-- coding activity -->
    <div class="basis-full md:basis-1/3">
        <div class="w-full max-w-sm rounded-lg border dark:bg-gray-800 dark:border-gray-700 py-16 bg-white shadow-lg">
            <h1 class="text-gray-800 dark:text-gray-300 p-4"> Last 7 Days Coding Languages</h1>
            <!-- Languages (wakatime.com) -->
            <figure>
                <embed src="https://wakatime.com/share/@sujaykundu777/e4c2a44e-390d-41f3-a4c8-b23b05fbec30.svg"></embed>
            </figure>
          
        </div>
    </div>
    <div class="basis-full md:basis-1/3">
        <div class="w-full max-w-sm rounded-lg border dark:bg-gray-800 dark:border-gray-700 py-16 bg-white shadow-lg">
            <h1 class="text-gray-800 dark:text-gray-300 p-4"> Last 7 Days Coding Activity </h1>
            <!-- activity (wakatime.com)-->
            <figure>
                <embed src="https://wakatime.com/share/@sujaykundu777/5fcfa63e-9357-44d1-9a49-5244504a1f13.svg"></embed>
            </figure>
        </div>
    </div>
</div>

