---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{%- include head.html -%}

<body>
{%- include header.html -%}
<div class="main-container">
    {{ content }}
</div>

<div class="col-lg-12" id="newsletter_footer">
    {%- include blog_newsletter.html -%}
</div>

{%- include footer.html -%}
<script>
    var options = {
        classname: 'progressline',
        id: 'my-id'
    };
    var nanobar = new Nanobar( options );
    nanobar.go( 30 );
    nanobar.go( 76 );
    nanobar.go(100);
</script>

</body>
</html>