---
layout: default
---

<script>
        $(document).ready(function(){
            $('#typewriteText').typewrite({
                actions: [
                    {type: 'Hello, I’m {{site.author}}, {{site.author_bio}}.'}
                ]
            });
        });
    </script>


<div class="col-lg-8 offset-md-2">
  <div class="jumbotron" style="text-align: center;">
    <h1 class="display-4">Hello, {{site.author}} !</h1>
    <h3> {{site.author_bio}} . You can edit this in _config.yml file</h3>
    <p class="lead" id="typewriteText"></p>
    <button class="btn btn-dark btn-lg"><a href="/about"> About Me </a></button>
  </div>
</div>