---
layout: default
---
<div>
    <header>
        <section>
            <div class="container">
                <div class="row justify-content-between mt-5">
                    <div class="col-lg-8 mx-auto text-right">
                        <br>
                        <h2>Austin Kliebhan</h2>
                    </div>
                    <div class="col-lg-4 text-right">
                        <p>
                            Location: Chicago, IL<br>
                            Phone: 630.800.7829<br>
                            Email: austin.kliebhan@gmail.com<br>
                            Linkedin.com/in/james-kliebhan<br>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <section>
        <div class="container">
            <h3>CAREER PROFILE</h3>
            <p>
                Experienced Data Engineer skilled in problem-solving with a proven track record of 5 years in dynamic
                and fast paced environments across various industries. Leveraging a strong technical acumen,
                successfully helped
                DAAP scale their business by modernizing their technology stack, optimizing data processes, and
                implementing
                cost-effective solutions for their data warehouse.
            </p>
        </div>
    </section>
    <div class="container">
        <hr>
        <h3>PROFESSIONAL EXPERIENCE</h3>
        <section>
            <h4>Data Engineer - DAAP Team | October 2021 - Present</h4>
            <h5>Spins, LLC - Chicago, IL</h5>
            <ul>
                <li>
                    Revamped legacy queries by implementing clustering techniques, resulting in significant reductions
                    in execution time across client data models and cost savings. Successfully decreased BigQuery
                    expenses by $500K annually.
                </li>
                <li>
                    Streamlined the client configuration process by implementing workflow orchestration using Apache
                    Airflow. Achieved an impressive 80% reduction in the time required to refresh client data by
                    efficiently
                    running tasks in parallel.
                </li>
                <li>
                    Spearheaded the migration of ETL processes from legacy software to a modern tech stack, leveraging
                    Docker, Python, Bash, Airflow, and Kubernetes. Hosted the infrastructure on Google Cloud Services.
                </li>
                <li>
                    Managed client relationships, ensuring exceptional support and assistance with new data products,
                    product rollouts, troubleshooting, and providing ad hoc technical support.
                </li>
                <li>
                    Developed and implemented automated processes to tailor client data for a diverse portfolio of 10+
                    clients.
                    Successfully delivered monthly datasets, totaling hundreds of terabytes, precisely meeting each
                    client's specific requirements.
                </li>
                <li>
                    Created a Python and Apache Airflow-based tool that automated the monthly clearance of outdated
                    tables from our team's database. This initiative resulted in cost savings exceeding $5,000 per
                    month in cloud expenses.
                </li>
            </ul>
        </section>
        <section>
            <h4>Process Engineer - Refinery | December 2019 - October 2021</h4>
            <h5>Ingredion - Argo Plant, Bedford Park, IL</h5>
            <ul>
                <li>
                    Led digital transformation efforts that significantly improved visibility and reduced
                    time-to-insight by over 90%
                </li>
                <li>
                    Demonstrated exceptional technical leadership throughout the entire lifecycle of data projects,
                    including brainstorming, planning, ETL process implementation on Azure, and the creation of
                    PowerBI dashboards.
                </li>
                <li>
                    Developed and implemented real-time data pipelines to process semi-structured data through Azure
                    Data Factory
                </li>
                <li>
                    Wrote custom queries to retrieve specific data and built corresponding visualizations.
                </li>
                <li>
                    Built PowerBI application with reports spanning all major KPIs in the manufacturing process.
                </li>
                <li>
                    Executed $250K capital repair project of EOL Ion Exchange reactor; delivered project on-time and
                    under budget.
                </li>
                <li>
                    Led capital project to retrofit Adsorption separation columns to run in series that improved daily
                    production and Unit revenues by >10%; completed project on-time and saw it through to start-up.
                </li>
            </ul>
        </section>
        <section>
            <h4>Environmental Engineer | June 2018 - December 2019</h4>
            <h5>Ingredion - Argo Plant, Bedford Park, IL</h5>
        </section><br>
        <section>
            <h4>Engineering Intern | May 2017 - August 2017</h4>
            <h5>Iowa Fertilizer Company - Wever, IA</h5>
        </section>
    </div>
    <div class="container">
        <hr>
        <section>
            <h4>EDUCATION</h4>
            <h5>B.S Chemical Engineering | Business & Chemistry Minor</h5>
            <h6>The University of Iowa | May 2018</h6>
        </section>
        <section>
            <h4>CERTIFICATIONS</h4>
            <h5>DataCamp's Data Engineering Track with Python | 2022</h5>
            <ul>
                <li>
                    Completed 19 courses including topics covering Bash Scripting, Python, PySpark, and Apache Airflow
                </li>
            </ul>
            <h5>DataCamp's Python Fundamentals | 2022</h5>
            <ul>
                <li>
                    Completed Python skills track covering intermediate topics in Python
                </li>
            </ul>
            <h5>IBM Data Science Professional Certificate | 2021</h5>
            <ul>
                <li>
                    Completed 10 course specialization including Python, SQL, and Machine Learning projects
                </li>
            </ul>
        </section>
        <hr>
        <section>
            <h4>TECHNICAL SKILLS</h4>
            <ul>
                <li>
                    Apache Airflow, SQL, Python, GCP, BigQuery, Azure, PowerBI,
                    Databricks, Bash, Docker, Kubernetes, OOP, Vim, Git, Flask, Data
                    Visualization, Machine Learning, Green Belt LSS, Communication,
                    Analytical Skills, Critical Thinking, Problem Solving, MS Suite
                </li>
            </ul>
        </section>
    </div>
</div>